table th {
border: 2px solid black;
padding: 25px;}

table td {
  border: 2px solid black;
padding: 25px;
}

.img {
  width: 300px;
}

.wrap {
  display: flex;
  flex-direction: row;
}

.div2 {
  display: flex;
  flex-direction: column;
}

